* {
  color: rgb(40, 40, 40);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/casino-table.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topDisplay {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.cardBorderBox {
  width: 230px;
  height: 315px;
  padding: 10px;
  border: 5px dashed rgb(211, 211, 210);
  border-radius: 4px;
}
.cardBorderBox__active {
  width: 230px;
  height: 315px;
  padding: 10px;
  border: 5px dashed rgb(228, 204, 18);
  border-radius: 4px;
}
.dealerCard {
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  width: 230px;
  height: auto;
  opacity: 0;
}

.dealerCard-entered {
  position: relative;
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dealerCard-entering {
  opacity: 1;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  animation-duration: 2s;
}

@keyframes revealCard {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dealerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.playersSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 33%;
  text-align: center;
}
.player1Position {
  display: flex;
  flex: wrap;
  flex-direction: column;
  transform: rotate(20deg);
}
.player2Position {
  display: flex;
  flex: wrap;
  flex-direction: column;
  transform: rotate(-20deg);
}

.dealCardBtn {
  position: absolute;
  padding: 20px 40px;
  width: 200px;
  color: rgb(225, 225, 225);
  font-size: 18px;
  margin-top: 20px;
  border-radius: 20px;
  background: #f7b84b; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ffaf4b 0%,
    #ff920a 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffaf4b 0%,
    #ff920a 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #ffaf4b 0%,
    #ff920a 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.modal {
  width: 55%;
  height: 55%;
  background-color: #f7b84b;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal h1,
h2,
p {
  color: rgb(96, 96, 96);
}

.modal .button__switchPlayer {
  font-size: 20px;
  width: 150px;
  text-align: center;
  color: white;
  background: #6aad86;
}
.cancel__switch {
  text-decoration: underline;
}
.cancel__switch:hover {
  cursor: pointer;
}
.button {
  padding: 20px 40px;
  width: 120px;
  margin: 10px;
  border-radius: 20px;
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

.buttonSection .low__button {
  background: rgb(210, 62, 62);
  color: white;
  font-size: 20px;
  border: 2px solid white;
}

.buttonSection .high__button {
  background: rgb(57, 171, 47);
  color: white;
  font-size: 20px;
  border: 2px solid white;
}
.buttonSection__Hidden {
  visibility: hidden;
}
.buttonSection__Visible {
  visibility: visible;
}

/* On screens that are 992px or less, set the following: */
@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the follow */
@media screen and (max-width: 700px) {
  body {
    background: #4f6c75;
    background-repeat: repeat;
  }
  .dealCardBtn {
    position: relative;
  }

  .playersSection {
    flex-direction: column;
  }
  .player1Position {
    width: 100%;
    transform: rotate(0deg);
  }
  .player2Position {
    width: 100%;
    transform: rotate(-0deg);
  }
  .buttonSection {
    width: 100%;
    justify-content: center;
  }
  .mobile_display_hidden {
    display: none;
  }
  /* flex-direction: column-reverse; */
}

@media screen and (max-width: 500px) {
  .cardBorderBox,
  .cardBorderBox__active {
    height: 200px;
    width: 140px;
  }
  .cardBorderBox img,
  .cardBorderBox__active img {
    height: 200px;
    width: 140px;
  }
}
